= form_with(model: product, local: true) do |f|
  - if product.errors.any?
    #error_explanation
      %h2
        = pluralize(product.errors.count, "error")
        prohibited this product from being saved:
      %ul
        - product.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :name
    = f.text_field :name
  .images
    = f.fields_for :images do |image|
      - unless image.object.image.blank?
        .image
          = image_tag image.object.image.to_s, id: :img_prev, height:'100', width: '100'
          .input
            = image.hidden_field :id, value: image.object.id
            = image.hidden_field :_destroy, value: ""
      - else
        .new_input
          = image.file_field :image, class: :user_img



  .action
    = f.submit